.footer {
    background: #152F4F;
    color: white;
    
    bottom: 0;
  }
  
  .footer .links ul {
    list-style-type: none;
  }
  
  .footer .links li a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    -webkit-transition: color .2s;
    transition: color .2s;
  }
  
  .footer .links li a:hover {
    color: #4180CB;
  }
  
  .footer .about-project {
    text-align: justify;
  }
  
  .footer .contact {
    font-size: 16px;
  }
  
  .footer .copyright p {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }