h2 {
  text-align: center;
  margin: 20px;
  font-weight: bold;
}

.playlists {
  background-color: rgb(227, 227, 227);
  outline: 2px solid rgb(0, 0, 0);
  padding: 10px;
  margin: 10px;
}

.pl-card {
  margin-left: 30px;
  margin-top: 15px;
  font-weight: bold;
}

.btn-xs {
  justify-content: flex-end;
  margin: 10px;
  font-weight: bold;
}

.row {
  margin: 10px;
}
